/* AUTHOR BY WAHYU MAULANA ZEN */
/* Untuk Tablet */
@media all and (max-width: 1000px) {
   .top-wrapper h1 {
    font-size: 32px;
  }
  .item {
    width: 50%;
    margin-bottom: 50px;
  }
  .heading h2 {
    font-size: 20px;
  }

  footer .container{
    flex-wrap: wrap;
  }
  .footer-address{
    padding-left: 50px;
    margin-left: 0;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }
  .item {
    width: 100%;
  }
  .menu {
    display: block;
    color: black;
    float: right;
    font-size: 25px;
    padding: 21px 0;
  }

  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
   .icons{
      width:100%;
   }
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
    width:100%;
  }
  .btn {
    width: 100%;
  }
  footer {
    text-align: center;
  }

  footer .container{
    flex-direction: column;
  }
  footer .container div{
    margin: 0 auto;
    width: auto;
  }
  .footer-about{
    width: auto;
    padding-bottom: 50px;
  }
  .footer-address{
    padding-left: 0;
  }
}
